---
import Container from "./Container.astro";
---

<footer class="py-20 md:py-40">
    <Container>
      <div class="md:w-12/12 lg:w-12/12 xl:w-12/12">
        <div class="flex flex-wrap items-start justify-between md:flex-nowrap">
          <div class="flex w-full justify-between space-x-12 text-gray-600 dark:text-gray-300 md:justify-start">
            <ul class="list-none space-x-10 flex items-center">
              <li><a href="#home" class="transition hover:text-primary">Home</a></li>
              <li><a href="#solution" class="transition hover:text-primary">solution</a></li>
              <li><a href="#reviews" class="transition hover:text-primary">Reviews</a></li>
              <li><a href="#blog" class="transition hover:text-primary">Blog</a></li>
            </ul>
         
          </div>
          <div class="m-auto mt-16 space-y-6 text-center sm:mt-auto sm:w-5/12 sm:text-left">
            <span class="block text-gray-500 dark:text-gray-400">We change the way UI components librairies are used</span>
              <span class="block text-gray-500 dark:text-gray-400">Tailus Blocks &copy; <span id="year"></span></span>
              <span class="flex justify-between text-gray-600 dark:text-white">
              <a href="#" class="font-medium">Terms of Use </a>
              <a href="#" class="font-medium"> Privacy Policy</a>
            </span>
            <span class="block text-gray-500 dark:text-gray-400">Need help? <a href="#" class="font-semibold text-gray-600 dark:text-white">Contact Us</a></span>
          </div>
        </div>
      </div>
    </Container>
</footer>